<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <section class="about-section">
        <h2>About Automated Product Search and Price Tracking</h2>
        <p>At Automated Product Search and Price Tracking, you can easily search products and keep a track of the product price and get notified.This system is designed to help you save time and find the best deals available on the market, all in one place.</p>
        <h3>Our Mission</h3>
        <p>Our mission is to simplify online shopping by providing users with an efficient and accurate product search experience.</p>
        <h3>How It Works</h3>
        <p>Our system collects data from product sources and displays the best results based on your search criteria. Whether you're looking for electronics, clothing, or home appliances, our system automatically compares prices and reviews, saving you valuable time and money.</p>
        <h3>Why Choose Us?</h3>
        <ul>
            <li><strong>Efficiency:</strong> Get the best deals in seconds!</li>
            <li><strong>Convenience:</strong> Search for a wide range of products all in one place.</li>
            <li><strong>Safe and Secure:</strong> We prioritize your privacy and security in every search.</li>
        </ul>
    </section>
    
</body>
</html>